# this token can be optained from https://dev.netatmo.com/.
# It is used for first runs or fresh initialisation. 
# Later, the script should refresh the token on its own.
REFRESH_TOKEN_INITIAL="56ffd91d65d1c4ec1192917d|95a21eb5e079ade24775dc11345247c0"

# further netatmo settings
APP_ID="6760b45417137782130fac16"
CLIENT_SECRET="ED1rYQQFYiJmGMjYmyh3auRYXAWiLy3"
DEVICE_ID="70:ee:50:1b:30:3a"

# display weather information or store it in a file
OUTPUT_TYPE="screen"            # "screen" or "file"
MAIN_MODULE="enable"          # "enable" or "disable"
OUTPUT_FILE="weatherinfo.txt"

# where token information is stored. Created automaticaliy. 
TOKEN_STORE=".tokenstore"